

<table>
<tr>
	<td>
		<a href="/clientes">Cadastro de clientes</a>	
 	</td>
</tr>

<tr>
	<td>
		<a href="/qualificacaos">Cadastro de Qualificações</a>
	</td>
<tr/>


<tr>
	<td>
		<a href="/ola">Ola mundo</a>
	</td>
<tr/>


<tr>
	<td>
		<a href="/restaurantes">Restaurantes</a>
	</td>
<tr/>

<tr>
	<td>
		<a href="/users">Cadastro de usuários</a>
	</td>
<tr/>


</table>